<script type="text/template" id="tpl-map">
	<div id="<%=id%>" name="<%=name%>" class="pmdynaform-field-geomap <%=namespace%>-<%=mode%>-<%=type%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%>">
		<label class="col-lg-<%=colSpanLabel%> control-label pmdynaform-label"> 
        	<span data-toggle="tooltip" data-placement="bottom"><%= label %></span>
            <%if(required){%>
	  			<span class="pmdynaform-field-required">*</span>
	  		<%}%>
        </label>
        <div class="col-lg-<%=colSpanControl%>">
            <% if(fullscreen === true) {%>
                <div class="pmdynaform-map-fullscreen">
                    <button type="button">[...]</button>
                </div>
            <%}%>
            <% if(disabled === true) {%>
                <div class="pmdynaform-map-layer-disabled"></div>
            <%}%>
        	<div class="pmdynaform-map-canvas">
        	</div>
        	<%if (hint !== "" && hint !== null){%>
                <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="bottom" title="<%=hint%>"></span>
			<%}%>
        </div>
	</div>
</script>