<script type="text/template" id="tpl-grid">
	<div id="field-<%=id%>" name="field-<%=name%>" class="<%=namespace%>-field-<%=type%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> <%=namespace%>-<%=mode%>-<%=type%> <%=layout%>">
		<div class="<%=namespace%>-<%=type%>-new">
			<p class="pmdynaform-grid-title"><span><%=title%></span>
				<%if (hint !== "" && hint !== null) {%>
					<span style="float:right; margin-left:30px;" class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="bottom" title="<%=hint%>"></span>
				<%}%>
			</p>
			<% if  ( mode !== "view" && mode !== "disabled") { %>
				<button type="button" class="glyphicon glyphicon-plus <%=namespace%>-<%=type%>-newitem btn btn-primary btn-sm">
				<span>New</span>
				</button>

			<%}%>
		</div>
		<div class="pmdynaform-grid-fields">
			<div class="pmdynaform-grid">
				<div class="row pmdynaform-grid-thead"></div>
				<div id="<%=id%>" <% if(pager) {%> class="carousel slide" data-ride="carousel" <%}%> >
					<div class="<% if(pager) {%>carousel-inner <%}%> pmdynaform-grid-tbody pmdynaform-form"></div>
					<%if (functions) {%>
						<div class="pmdynaform-grid-functions">
						</div>
					<%}%>
					<%if (pager) {%>
						<div class="pmdynaform-grid-pagination">
						</div>
					<%}%>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/template" id="tpl-grid-pagination">
 	<ul class="pagination">
		<li><a data-target="#<%=id%>" data-slide-to="0" href="#">&laquo;</a></li>
		<%for (var i=0; i<paginationItems; i+=1) {%>
			<li <%if(i === 0){%>class="active"<%}%> ><a data-target="#<%=id%>" data-slide-to="<%=i%>" class="active" href=""><%=i+1%></a></li>
		<%}%>
		<li><a data-target="#<%=id%>" data-slide-to="<%=paginationItems-1%>" href="">&raquo;</a></li>
	</ul>
</script>

<script type="text/template" id="tpl-grid-totalcolumn">
	<%for(var j=0; j<totalrow.length; j+=1){%>
		<div class="col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%>">
			<span> <%= totalrow[j]? totalrow[j] : 0 %> </span>
		</div>
	<%}%>
</script>