<script type="text/template" id="tpl-ext-signature">
	<div id="<%=id%>" name="<%=name%>" class="<%=namespace%>-field-<%=type%> <%if (group === 'form'){%> form-group col-sm-<%=colSpan%> col-md-<%=colSpan%> col-lg-<%=colSpan%> <%}%> <%=namespace%>-<%=mode%>-<%=type%>">
	    <% if(group === "form") {%>
		    <label class="col-lg-<%=colSpanLabel%> control-label pmdynaform-label"> 
		    	<span><%= label %></span>
		        <%if(required){%>
		  			<span class="pmdynaform-field-required">*</span>
		  		<%}%>
		    </label>
		<%} else if((group !== "form") && (layout === "form")){%>
			<label class="hidden-lg hidden-md hidden-sm visible-xs control-label pmdynaform-label col-xs-<%=colSpanLabel%>">  
		  		<span><%= label %></span>
		  	</label>
		<%}%>
		<div <%if(group === 'form'){ %> class="pmdynaform-file-control col-lg-<%=colSpanControl%>" <%}%> >
			<div class="pmdynaform-geo-container">
				<button type="button" class="btn btn-default btn-md">
				  	<span class="glyphicon glyphicon-edit"></span> <%=labelButton%>
				</button>				
				<%if (hint !== "" && hint !== null){%>
					<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="bottom" title="<%=hint%>"></span>
				<%}%>								
				<%if(preview) {%>
					<div class="pmdynaform-ext-geo" style="height:<%=height%>;"></div>
				<% } %> 
			</div>
		</div>
	</div>
</script>