.pmdynaform-mobile-loading {
  position: fixed;
  background: rgba(3, 3, 3, 0.49);
  color: white;
  font-size: 16px;
  z-index: 11;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 100%;
  height:100%;
}

.pmdynaform-file-resizeimage-plus {
  max-width: 70px;
  max-height: inherit;
  overflow: hidden;
  width: 70px;
  height: 90px;
  border: 4px solid;
  border-style: dashed;
  border-color: #999999;
  font-size: 60px;
  color: #999999; }

 .pmdynaform-file-resizeaudio-plus {
    //max-width: 70px;
    //max-height: inherit;
    overflow: hidden;
    //width: 70px;
    //height: 70px;
    border: 4px solid;
    border-style: dashed;
    border-color: #999999;
    font-size: 60px;
    color: #999999; 
}

.pmdynaform-file-droparea-ext {
  height: auto;
  overflow-y: auto;
  position: relative;
  background: none repeat scroll 0 0 #F7F7F7;
  border-radius: 8px;
  box-shadow: 0 0 5px #C0C0C0 inset;
  text-align: center;
  text-shadow: 1px 1px 1px #d7d7d7, 1px 1px 1px rgba(0, 0, 0, 0.7);
  transition: all 0.5s linear 0s;
  z-index: 2;
  border: 1px solid white; }

.pmdynaform-file-containerimage {
  float: left;
  margin: 10px;
  position: relative;
  width: auto;
  text-align: center;
  max-width: 100px;
  max-height: 120px;
  z-index: 5; 
  }


.pmdynaform-image-ext {
  width: 100px;
  height: auto;  
}



.pmdynaform-file-containervideo {
  float: left;
  margin: 5px;
  position: relative;
  text-align: center;
  max-width: 320px;
  min-width: 240px;  
  max-height: inherit;
  z-index: 5; 
  background-color:green;
}


// VIDEO CONTROLS

.pmdynaform-file-containervideo .btn-group.btn-group-justified{
  width: 100px;
  float: right;
  margin-bottom: 5px;
}





.pmdynaform-file-containervideo .pmdynaform-file-preview-background video, audio {
  width:300px;
  max-width: 500px;
  height: auto;
  margin: 10% 0;
}


.pmdynaform-geo-container {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.pmdynaform-ext-geo{
  height: auto;
  overflow-y: auto;
  position: relative;
  background: none repeat scroll 0 0 #F7F7F7;
  border-radius: 8px;
  box-shadow: 0 0 5px #C0C0C0 inset;
  text-align: center;
  text-shadow: 1px 1px 1px #d7d7d7, 1px 1px 1px rgba(0, 0, 0, 0.7);
  transition: all 0.5s linear 0s;
  z-index: 2;
  border: 1px solid white; }

.pmdynaform-file-containergeo {  
  padding: 10px;  
  position: relative;
  width: auto;
  text-align: center;
  //max-width: 600px;
  max-height: inherit;
  z-index: 5; 
}

.pmdynaform-file-containergeo .pmdynaform-file-resizeimage {
  max-width: none;
  max-height: none;
  min-height: inherit;
  overflow: hidden;
}



// CONTROLS AUDIO
.pmdynaform-file-nameaudio{
  text-align: left;
  float: left;
}

.pmdynaform-file-containeraudio .btn-group.btn-group-justified{
  width: 100px;
  float: right;
  margin-bottom: 5px;
}

.pmdynaform-file-containeraudio .pmdynaform-file-resizeimage {
  max-width: none;
  max-height: none;
  min-height: inherit;
  overflow: hidden;
}





.pmdynaform-file-containeraudio {  
  float: left;
  position: relative;
  width: auto;
  text-align: center;
  max-width: 320px;
  width:100%;
  height:70px;
  max-height: 120px;
  z-index: 5;
  margin-top:10px; 
}


.pmdynaform-geo-container .pmdynaform-file-resizeimage > img {
padding: 4px;
line-height: 1.42857143;
background-color: #fff;
border: 1px solid #ddd;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
border-radius: 4px;
-webkit-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
display: inline-block;
max-width: 100%;
min-width: 150px;
height: auto;
box-shadow: 0px 0px 10px 1px #484848;
}