@import 'mixins';
.pmdynaform-map-canvas {
	height: 300px;
	width: 100%;
	border: 1px solid rgb(199, 199, 199);
}
.pmdynaform-map-layer-disabled {
	width: 100%;
	height: 300px;
	background: transparent;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
	opacity: 0.1;
	overflow: hidden;
}
.pmdynaform-map-fullscreen {
	position: absolute;
	z-index: 5;
	width: 100%;
	margin-left: auto;
	text-align: center;
}