@import 'mixins';

.pmdynaform-label {
	overflow: hidden;
	text-overflow: ellipsis;
}
.pmdynaform-label-nowrap {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.pmdynaform-label p {
	@include border-radius(3px);
	color: #fff;
}
.pmdynaform-field-title, .pmdynaform-field-subtitle p{
	@include border-radius(3px);
	color: #fff;
}
.pmdynaform-label-title {
	background-color: #3397e1;
	padding: 10px;
}
.pmdynaform-label-subtitle {
	background-color: #44afff;
	padding: 8px;
}
.pmdynaform-label-options {
	padding: 7px 10px;
	background-color: rgb(241, 237, 237);
	@include border-radius(5px);
}
.pmdynaform-label-options span {
	display: block;
}
.pmdynaform-field-label {
	margin: 0 10px;	
}